.navItems{
    display: inline-block;
    color: white;
    width: 100px;
    margin-left: 8px;
}

.navItems a{
    color: white;
    text-decoration: none;
}

.navItems a:hover{
    color: white;
    text-decoration: underline;
}

.logo{
    margin-left: 8px;
    margin-right: 16px;
    font-size: 18px;
}

.content{
    text-align: center;
    margin-top: 16px;
}

h1,h2,h3,h4{
    margin: 8px;
}

button{
    margin: 8px;
}

